## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
.vscode/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
coverage/

## NuGet
*.nupkg
*.snupkg
packages/

## Application logs
logs/
*.log